
<%= form_for @appointment do |f| %>
    <p><%= f.label :time %>
    <%= f.time_select :appointment_time %></p>
    <p><%= f.label :appointment_address, "Use address on your profile?" %>
    <%= f.check_box :appointment_address %></p>
        
        <p><%= f.label :address %>:
        <%= f.text_field :appointment_address %></p>
        
    <p><%= f.submit 'Report Ghost' %>
    <% hidden_field :user_id, :ghostbuster_id %>
    
<%end%>