<% if @appointment.errors.any? %>
    <% @appointment.errors.each do |error| %>
        <%= error %>
    <%end%>
<%end%>
<h2>Schedule to have your ghost busted</h2>
<%= form_for @appointment do |f| %>
    <p><%= f.label 'Ghost Busting Form' %><br>
    Day: <%= f.date_select('time', default: Time.now, discard_year: true) %><br><br>
    <% if @busters %>
    Ghostbuster: <%= f.select :ghostbuster, @busters %>
    <% else %>
    Ghostbuster: <%= @buster.name %>
    <%end%>
        <p><%= f.label :address %>:
        <%= f.text_field :address, value: current_user.address %></p>
                <%= f.fields_for :ghost do |gf| %>
                    <%= gf.label :name %> of ghost: 
                    <%= gf.text_field :name %><br>
                    <%= gf.label :dificulty %>
                    <%= gf.select :rating, 1..10 %><br>
                    <%end%>
    <p><%= f.submit 'Report Ghost' %>
    
<%end%>