<!DOCTYPE html>
<html>
  <head>
    <title>GhostbustersOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel='icon' href='https://images-na.ssl-images-amazon.com/images/I/418o%2BelBMcL._AC_.jpg' >
    <% if logged_in? %>
      <header class='navbar navbar-inverse'>
        <div class='navbar-class'>
          <div class='container'>
            <%= link_to 'Log Out', logout_path, method: 'delete' %>
            <%= link_to 'Home', user_path(current_user) %>
            <%= link_to 'Report Ghost', new_user_appointment_path(current_user) %>
    <%end%>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <link rel='stylesheets' type="application/css" href="application.css">
  <body>
    <div style='text-align: center;'>
    <%= yield %>
    </div>
  </body>
</html>
